h2.st1{
    color: purple;
    text-transform: capitalize;
}
.st2{
    color: orange;
    font-style: italic;
}
.col1{
    color: gray;
}
.col2{
    color: brown;
}
.size1{
    font-size: 2em;
}
.under1{
    text-decoration: underline;
}
.sty1{
    font-style: italic;
}
p {
    color: gray;
    font-size: 2em;
    text-decoration: underline;
}